<ion-view title="Confirm" id="page4">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <a ui-sref="finish" id="confirm-button5" class="button button-balanced button-large button-block">Looks Good!</a>
    <a ui-sref="takePicture" id="confirm-button6" class="button button-assertive button-large button-block">Try Again</a>
  </ion-content>
</ion-view>