<ion-view title="Finish" id="page5">
  <ion-content padding="true" class="has-header">
    <h1 id="finish-heading2" style="color:#000000;text-align:center;">Almost Done!</h1>
    <form id="finish-form1" class="list">
      <h4 id="finish-heading4" style="color:#000000;text-align:center;">Enter Additional Info Below:</h4>
      <label class="item item-input" id="finish-textarea1" name="info">
        <span class="input-label"></span><textarea placeholder=""></textarea></label>
    </form>
    <a ui-sref="thankYou" id="finish-button7" class="button button-positive button-large button-block">Report</a>
  </ion-content>
</ion-view>