<ion-view title="Take Picture" id="page3">
  <ion-content padding="true" class="has-header">
    <a ui-sref="confirm" id="takePicture-button4" class="button button-positive button-large button-block">Take a Picture!</a>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="takePicture-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="takePicture-slide24" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="takePicture-slide25" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;background-color:#000000;"></ion-slide-page>
      <ion-slide-page id="takePicture-slide26" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>