<ion-view title="Thank You!" id="page6">
  <ion-content padding="true" class="has-header">
    <h3 id="thankYou-heading5" style="color:#000000;text-align:center;">Thank you for saving the environment!</h3>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <a ui-sref="waterUCI" id="thankYou-button8" class="button button-positive button-large button-block">Start Over</a>
    <div id="thankYou-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Brought to you by
        <a href="http://eswuci.wixsite.com/eswuci">Engineers for a Sustainable World</a> at UCI.</p>
    </div>
  </ion-content>
</ion-view>