<ion-view title="Water UCI" id="page1">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/uJ4SQREETIS0CPCQwZQM_esw_logo.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="verifyLocation" id="waterUCI-button1" class="button button-assertive button-large button-block">Report</a>
    <button id="waterUCI-button2" class="button button-positive button-large button-block">View Status</button>
  </ion-content>
</ion-view>
