.ios, .md {
    page-verifyLocation {
        .scroll-content {
           height: 100%
        }

        #map {
           margin: auto;
           width: 75%;
           height: 50%
        }
    }
}
